.rectangulo {
position: absolute;
width: 1519px;
height: 162px;
left: 0px;
top: 0px;
background: #3B4EB6;
}
  
.imagen-logo img{
    position: absolute;
width: 307px;
height: 149px;
}  

.circulo{
position: absolute;
border-radius: 50%;
width: 123px;
height: 117px;
left: 1263px;
top: 28px;
background: #FFFFFF;
}

.circulo img{
 position: absolute;
 width: 86px;
 height: 79px;
 left: -140px;
 top: 21px;
}

.circulo2{
  position: absolute;
  border-radius: 50%;
  width: 123px;
  height: 117px;
  left: 1263px;
  top: 28px;
  background: #FFFFFF;
}

.circulo2 img{
  position: absolute;
  width: 86px;
  height: 79px;
  left: 19px;
  top: 21px;
 }
.triangulo {
    position: absolute;
    width: 1186px;
    height: 740px;
    left: -1286px;
    top: 575px;
    border-left: 100px solid transparent;
    border-right: 656px solid transparent;
    border-bottom: 624px solid #2144B6;
  }

.triangulo2 {
position: absolute;
width: 193px;
height: 1379px;
left: 1123px;
top: -1217px;    
border-right: 50px solid transparent;
border-bottom: 1776px solid #8FD0FF;
border-left: 148px solid transparent;
  }

.cuadrado{
  position: absolute;
  width: 522px;
  height: 366px;
  left: 124px;
  top: 255px;
  
  background: #1392D9;
  }
  
  .cua{
    position: absolute;
    width: 468px;
    height: 290px;
    left: 28px;
    top: 42px;
    background: #434AEE;
  }

  .carpeta{
    position: absolute;
   width: 242px;
   height: 204px;
   left: 117px;
   top: 30px;

  }
  
  .texto{
    position: absolute;
   width: 431px;
   height: 35px;
   left: 79px;
   top: 224px;

   font-family: 'IM FELL French Canon SC';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 47px;
   display: flex;
   align-items: flex-end;
   text-align: center;
   color: #FFFFFF;
  }
  .cuadrado2{
  position: absolute;
  width: 522px;
  height: 366px;
  left: 741px;
  top: 255px;
  background: #1392D9;
  }
  .cuads{
    position: absolute;
    width: 468px;
    height: 290px;
    left: 26px;
    top: 47px;
    background: #434AEE;
  }
  
  .carpeta2{
   position: absolute;
   width: 242px;
   height: 204px;
   left: 107px;
   top: 27px;

  }
  
  .text2{
    width: 431px;
   height: 257px;
   right: 100px;
   top: 510px;
   font-family: 'IM FELL French Canon SC';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 47px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   text-align: center;
   color: #FFFFFF;
  }

  
.rectangulo2{
  position: absolute;
  width: 158px;
  height: 862px;
  left: 0px;
  top: 162px;
  
  background: #000D7E;
}

.rectangulo3{
  position: absolute;
 width: 1023px;
 height: 320px;
 left: 248px;
 top: 410px;

 background: #D9D9D9;
}

.documentoimg{
  position: absolute;
width: 146px;
height: 148px;
left: 400px;
top: 16px;

}

.rec{
  position: absolute;
 width: 942px;
 height: 256px;
 left: 40px;
 top: 35px;

 background: #AD9C9C;
}

.recimg{
  position: absolute;
 width: 942px;
 height: 256px;
 left: 40px;
 top: 35px;

 background: #AD9C9C;
}

.texto3{
  position: absolute;
  width: 674px;
  height: 36px;
  left: 192px;
  top: 216px;
  
  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #000000;  
}

.elegir1{
  position: absolute;
  width: 674px;
  height: 36px;
  left: -80px;
  top: 118px;
}

.elegir2{
  position: absolute;
  width: 674px;
  height: 36px;
  left: -44px;
  top: 93px;
}

.elegir3{
  position: absolute;
  width: 674px;
  height: 36px;
  left: 206px;
  top: 93px;
}

.elegir4{
  position: absolute;
  width: 674px;
  height: 36px;
  left: 348px;
  top: 2px;
}
.cuadr{
  position: absolute;
  width: 86px;
  height: 75px;
  left: 22px;
  top: 17px;
  background: #D9D9D9;
}

.boton1{
  position: absolute;
  width: 240px;
 height: 52px;
 left: -31px;
 top: 429px;
  font-size: 1.2em;
  padding: 10px 20px; 
  background: #0E00B1;
}

.boton2{
position: absolute;
width: 248px;
height: 46px;
left: 407px;
top: 444px;

background: #D9D9D9;
}

.texto4{
  position: absolute;
width: 618px;
height: 38px;
left: 255px;
top: 191px;

font-family: 'IM FELL French Canon SC';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;

display: flex;
align-items: flex-end;
text-align: center;

color: #000000;
}

.cuadrado4{
  position: absolute;
width: 784px;
height: 480px;
left: 328px;
top: 335px;

background: #1392D9;
}
.cuadrado5{
  position: absolute;
width: 703px;
height: 380px;
left: 38px;
top: 49px;

background: #434AEE;
}

.texto5{
  position: absolute;
width: 647px;
height: 46px;
left: 221px;
top: 296px;

font-family: 'IM FELL French Canon SC';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

}

.botonini{
  position: absolute;
width: 248px;
height: 46px;
left: 695px;
top: 869px;

}
.circulo3{
  position: absolute;
  border-radius: 50%;
width: 212px;
height: 194px;
left: 623px;
top: 460px;

background: #02B629;
}
.circulo3 img{
  position: absolute;
  border-radius: 50%;
  width: 212px;
  height: 194px;
  left: 1px;
  top: 0px;
}

.texto7{
  position: absolute;
  width: 726px;
  height: 35px;
  left: 935px;
  top: 231px;
  
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #000000;
  
}
.texto8{
  position: absolute;
width: 618px;
height: 49px;
left: 269px;
top: 326px;

font-family: 'IM FELL French Canon SC';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
display: flex;
align-items: flex-end;
text-align: center;

color: #000000;


}
.rectangulo4{
  position: absolute;
  width: 1023px;
  height: 577px;
  left: -619px;
  top: 44px;
  
  background: #D9D9D9;
}
.rec1{
  position: absolute;
  width: 942px;
  height: 490px;
  left: 39px;
  top: 44px;
  
  background: #AD9C9C;
}
.cuadr1{
  position: absolute;
  width: 124px;
  height: 116px;
  left: 39px;
  top: 34px;
  
  background: #D9D9D9;
}
.documentoimg1{
  position: absolute;
  width: 203px;
  height: 191px;
  left: 391px;
  top: 110px;
  
}

.boton3{
  position: absolute;
  width: 240px;
 height: 52px;
 left: -435px;
 top: 657px;
  font-size: 1.2em;
  padding: 10px 20px; 
  background: #0E00B1;
}

.boton4{
position: absolute;
width: 248px;
height: 46px;
left: 19px;
top: 668px;

background: #D9D9D9;
}

.rectangulo5{
  position: absolute;
width: 1090px;
height: 143px;
left: 253px;
top: 228px;

background: #8FD0FF
}
.rectangulo6{
  position: absolute;
  width: 1090px;
  height: 144px;
  left: 253px;
  top: 426px;
  
  background: #8FD0FF;
}
.rectangulo7{
  position: absolute;
  width: 1090px;
  height: 145px;
  left: 253px;
  top: 617px;
  
  background: #8FD0FF;
}
.rectangulo8{
  position: absolute;
  width: 1090px;
  height: 139px;
  left: 253px;
  top: 809px;
  
  background: #8FD0FF;
}
.botoninicio{
  position: absolute;
width: 260px;
height: 44px;
left: 1083px;
top: 970px;
}
.texto10{
  position: absolute;
  width: 333px;
  height: 31px;
  left: 468px;
  top: 285px;
  
  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #000000;
}

.texto11{
  position: absolute;
  width: 310px;
  height: 38px;
  left: 467px;
  top: 487px;
  
  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #000000;
  
}

.texto12{
  position: absolute;
  width: 375px;
  height: 49px;
  left: 440px;
  top: 658px;
  
  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #000000;
}

.texto13{
  position: absolute;
  width: 254px;
  height: 43px;
  left: 488px;
  top: 843px;
  
  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #000000;
}
.pdf1{
  position: absolute;
  width: 84px;
  height: 121px;
  left: 278px;
  top: 225px;
}
.pdf2{
  position: absolute;
  width: 84px;
  height: 121px;
  left: 274px;
  top: 427px;
}
.pdf3{
  position: absolute;
  width: 84px;
  height: 121px;
  left: 272px;
  top: 617px;
}
.pdf4{
  position: absolute;
  width: 84px;
  height: 121px;
  left: 270px;
  top: 807px;
  
}
.circulo4{
  position: absolute;
  border-radius: 50%;
  width: 123px;
  height: 117px;
  left: 282px;
  top: 240px;
  background: #FFFFFF;
}

.circulo4 img{
  position: absolute;
  width: 86px;
  height: 79px;
  left: 19px;
  top: 21px;
 }
 .circulo5{
  position: absolute;
  border-radius: 50%;
  width: 123px;
  height: 117px;
  left: 282px;
  top: 440px;
  background: #FFFFFF;
}

.circulo5 img{
  position: absolute;
  width: 86px;
  height: 79px;
  left: 19px;
  top: 21px;
 }
 .circulo6{
  position: absolute;
  border-radius: 50%;
  width: 123px;
  height: 117px;
  left: 282px;
  top: 636px;
  background: #FFFFFF;
}

.circulo6 img{
  position: absolute;
  width: 86px;
  height: 79px;
  left: 19px;
  top: 21px;
 }
 .circulo7{
  position: absolute;
  border-radius: 50%;
  width: 123px;
  height: 117px;
  left: 282px;
  top: 823px;
  background: #FFFFFF;
}

.circulo7 img{
  position: absolute;
  width: 86px;
  height: 79px;
  left: 19px;
  top: 21px;
 }

 .boton5{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 979px;
  top: 287px;
  
 }

 .boton6{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 1119px;
  top: 288px;
 }
 .boton7{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 979px;
  top: 487px;
  
 }

 .boton8{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 1119px;
  top: 486px;
 }
 .boton9{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 979px;
  top: 679px;
  
 }

 .boton10{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 1119px;
  top: 678px;
 }
 .boton11{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 979px;
  top: 863px;
  
 }

 .boton12{
  position: absolute;
  width: 248px;
  height: 46px;
  left: 1119px;
  top: 863px;
 }

 .cuadrado6{
  position: absolute;
width: 499px;
height: 353px;
left: 430px;
top: 627px;

background: #1392D9;;
 }
 .cuads1{
  position: absolute;
width: 447px;
height: 281px;
left: 27px;
top: 32px;

background: #434AEE;
 }
 .carpeta3{
  position: absolute;
width: 186px;
height: 190px;
right: 661px;
top: 678px;

 }
 .text3{
  position: absolute;
width: 412px;
height: 34px;
left: 477px;
top: 884px;

font-family: 'IM FELL French Canon SC';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
 }